Project 2- Automated Costumer Intelligence (part 1).blueprint.json
{
  "name": "Project 2- Automated Costumer Intelligence (part 1)",
  "flow": [
    {
      "id": 1,
      "module": "google-email:triggerWatchNewEmails",
      "version": 4,
      "parameters": {
        "q": "is:unread from:d34d.aw4k3@gmail.com",
        "limit": 5,
        "format": "full",
        "markSeen": true,
        "filterType": "gmailSearch",
        "__IMTCONN__": 7333026
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 150
        },
        "restore": {
          "parameters": {
            "format": {
              "label": "Full content"
            },
            "filterType": {
              "label": "Gmail filter"
            },
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "google-email"
              },
              "label": "My Gmail connection (nlawrenzer@gmail.com)"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google-email",
            "label": "Connection",
            "required": true
          },
          {
            "name": "filterType",
            "type": "select",
            "label": "Filter type",
            "required": true,
            "validate": {
              "enum": ["simpleSearch", "gmailSearch"]
            }
          },
          {
            "name": "format",
            "type": "select",
            "label": "Content format",
            "required": true,
            "validate": {
              "enum": ["full", "raw", "metadata", "minimal"]
            }
          },
          {
            "name": "q",
            "type": "text",
            "label": "Query"
          },
          {
            "name": "markSeen",
            "type": "boolean",
            "label": "Mark email message(s) as read when fetched"
          },
          {
            "name": "limit",
            "type": "uinteger",
            "label": "Limit",
            "required": true,
            "validate": {
              "max": 500
            }
          }
        ],
        "interface": [
          {
            "name": "id",
            "type": "text",
            "label": "Message ID"
          },
          {
            "name": "threadId",
            "type": "text",
            "label": "Thread ID"
          },
          {
            "name": "internalDate",
            "type": "date",
            "label": "Date"
          },
          {
            "name": "subject",
            "type": "text",
            "label": "Subject",
            "condition": true
          },
          {
            "name": "fromName",
            "type": "text",
            "label": "From (name)",
            "condition": true
          },
          {
            "name": "fromEmail",
            "type": "text",
            "label": "From (email)",
            "condition": true
          },
          {
            "name": "to",
            "spec": {
              "spec": [
                {
                  "name": "name",
                  "type": "text",
                  "label": "Name"
                },
                {
                  "name": "email",
                  "type": "text",
                  "label": "Email"
                }
              ],
              "type": "collection"
            },
            "type": "array",
            "label": "To",
            "condition": true
          },
          {
            "name": "cc",
            "spec": [
              {
                "name": "email",
                "type": "email",
                "label": "Email"
              },
              {
                "name": "name",
                "type": "text",
                "label": "Name"
              }
            ],
            "type": "array",
            "label": "CC",
            "condition": true
          },
          {
            "name": "bcc",
            "spec": [
              {
                "name": "email",
                "type": "email",
                "label": "Email"
              },
              {
                "name": "name",
                "type": "text",
                "label": "Name"
              }
            ],
            "type": "array",
            "label": "BCC",
            "condition": true
          },
          {
            "name": "snippet",
            "type": "text",
            "label": "Snippet"
          },
          {
            "name": "fullTextBody",
            "type": "text",
            "label": "Full text body",
            "condition": true
          },
          {
            "name": "htmlBody",
            "type": "text",
            "label": "HTML body",
            "condition": true
          },
          {
            "name": "hasAttachment",
            "type": "boolean",
            "label": "Has attachment",
            "condition": true
          },
          {
            "name": "hasMedia",
            "type": "boolean",
            "label": "Has media",
            "condition": true
          },
          {
            "name": "sysFolders",
            "spec": [
              {
                "name": "id",
                "type": "text",
                "label": "System folder ID"
              },
              {
                "name": "name",
                "type": "text",
                "label": "System folder name"
              }
            ],
            "type": "array",
            "label": "System folders"
          },
          {
            "name": "categoryFolders",
            "spec": [
              {
                "name": "id",
                "type": "text",
                "label": "Category folder ID"
              },
              {
                "name": "name",
                "type": "text",
                "label": "Category folder name"
              }
            ],
            "type": "array",
            "label": "Category folders"
          },
          {
            "name": "userLabelFolders",
            "spec": [
              {
                "name": "id",
                "type": "text",
                "label": "User label folder ID"
              },
              {
                "name": "name",
                "type": "text",
                "label": "User label folder name"
              }
            ],
            "type": "array",
            "label": "User label folders"
          },
          {
            "name": "labelIds",
            "spec": {
              "type": "text"
            },
            "type": "array",
            "label": "Message folder IDs"
          },
          {
            "name": "headers",
            "spec": [
              {
                "name": "Delivered-To",
                "type": "text",
                "label": "Delivered-To"
              },
              {
                "name": "Received",
                "type": "text",
                "label": "Received"
              },
              {
                "name": "Date",
                "type": "text",
                "label": "Date (header)"
              },
              {
                "name": "X-Original-Sender",
                "type": "text"
              },
              {
                "name": "Reply-To",
                "type": "text"
              },
              {
                "name": "Subject",
                "type": "text",
                "label": "Subject"
              },
              {
                "name": "From",
                "type": "text",
                "label": "From"
              },
              {
                "name": "To",
                "type": "text",
                "label": "To"
              },
              {
                "name": "Message-ID",
                "type": "text",
                "label": "Message-ID"
              },
              {
                "name": "In-Reply-To",
                "type": "text",
                "label": "In-Reply-To"
              }
            ],
            "type": "collection",
            "label": "Headers",
            "condition": true
          },
          {
            "name": "sizeEstimate",
            "type": "number",
            "label": "Size estimate"
          },
          {
            "name": "historyId",
            "type": "text",
            "label": "History ID"
          }
        ],
        "advanced": true
      }
    },
    {
      "id": 2,
      "module": "gemini-ai:createACompletionGeminiPro",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 7376007
      },
      "mapper": {
        "model": "gemini-3-flash-preview",
        "contents": [
          {
            "role": "user",
            "parts": [
              {
                "text": "You are an AI Customer Intelligence Specialist. Your job is to analyze incoming customer emails and provide structured data for a Notion database.\r\n\r\nAnalyze the email content and return a JSON object with the following fields:\r\n\r\n1. sentiment: Classify as 'Happy', 'Neutral', or 'Angry'.\r\n2. priority: Assign a number from 1 to 5 (5 being the most urgent).\r\n3. intent: Classify as 'Inquiry', 'Complaint', 'Refund', or 'Other'.\r\n4. confidence_score: A number from 0 to 10 representing how confident you are in your analysis. You can add decimal.\r\n5. summary: A very short title (max 5-10 words) summarizing the issue in ENGLISH (even if the email is in Tagalog).\n6. draft_subject_response: A professional email subject line for the reply, written in the SAME language as the sender's email (e.g., \"Re: Tungkol sa iyong Refund\").\n7. draft_response: A professional and empathetic reply. DETECT the language of the sender's email and write the response in the SAME language (e.g., if the email is Tagalog, reply in natural Tagalog). If sentiment is \"Angry\", add sympathy.\r\n\r\n8. status:\r\n   - Set to 'Auto Sent' if sentiment is 'Happy' or 'Neutral' AND confidence_score is 80 or higher.\r\n   - Set to 'Review' if sentiment is 'Angry' OR Intent is 'Refund' OR confidence_score is below 80.\r\n\r\nConstraint: Return ONLY the raw JSON object. Do not include any conversational text, markdown formatting like ```json, or explanations.\r\n\r\nEmail Content to Analyze: {{1.fullTextBody}}",
                "type": "text"
              }
            ]
          }
        ],
        "generationConfig": {
          "imageConfig": {},
          "thinkingConfig": {},
          "responseMimeType": "application/json",
          "new_responseSchema": [
            {
              "type": "string",
              "property_name": "Sentiment"
            },
            {
              "type": "string",
              "property_name": "Priority"
            },
            {
              "type": "string",
              "property_name": "Intent"
            },
            {
              "type": "number",
              "maximum": "10",
              "minimum": "0",
              "property_name": "Confidence Score"
            },
            {
              "type": "string",
              "property_name": "Summary"
            },
            {
              "type": "string",
              "property_name": "Draft Response"
            },
            {
              "type": "string",
              "property_name": "Status"
            },
            {
              "type": "string",
              "property_name": "Draft Subject Response"
            }
          ],
          "responseModalities": ["text"]
        },
        "system_instruction": {}
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 150
        },
        "restore": {
          "expect": {
            "model": {
              "mode": "chose",
              "label": "Gemini 3 Flash Preview"
            },
            "contents": {
              "mode": "chose",
              "items": [
                {
                  "role": {
                    "mode": "chose",
                    "label": "User"
                  },
                  "parts": {
                    "mode": "chose",
                    "items": [
                      {
                        "type": {
                          "mode": "chose",
                          "label": "Text"
                        }
                      }
                    ]
                  }
                }
              ]
            },
            "url_context": {
              "mode": "chose"
            },
            "code_execution": {
              "mode": "chose"
            },
            "safetySettings": {
              "mode": "chose"
            },
            "generationConfig": {
              "nested": {
                "imageConfig": {
                  "nested": {
                    "imageSize": {
                      "mode": "chose",
                      "label": "Empty"
                    }
                  }
                },
                "stopSequences": {
                  "mode": "chose"
                },
                "thinkingConfig": {
                  "nested": {
                    "thinking_level": {
                      "mode": "chose",
                      "label": "Empty"
                    },
                    "include_thoughts": {
                      "mode": "chose"
                    }
                  }
                },
                "mediaResolution": {
                  "mode": "chose",
                  "label": "Empty"
                },
                "responseMimeType": {
                  "mode": "chose",
                  "label": "JSON Output"
                },
                "new_responseSchema": {
                  "mode": "chose",
                  "items": [
                    {
                      "type": {
                        "mode": "chose",
                        "label": "String",
                        "nested": [
                          {
                            "help": null,
                            "name": "property_name",
                            "spec": null,
                            "type": "text",
                            "label": "Property Name",
                            "options": null,
                            "required": true
                          },
                          {
                            "help": null,
                            "name": "description",
                            "spec": null,
                            "type": "text",
                            "label": "Description",
                            "options": null,
                            "required": false
                          },
                          {
                            "help": "The format is not being validated post generation. Add guidance in the prompt and/or property description.",
                            "name": "format",
                            "spec": null,
                            "type": "select",
                            "label": "Format",
                            "options": [
                              {
                                "label": "Date-Time",
                                "value": "date-time"
                              },
                              {
                                "label": "Date",
                                "value": "date"
                              },
                              {
                                "label": "Time",
                                "value": "time"
                              },
                              {
                                "label": "Email",
                                "value": "email"
                              },
                              {
                                "label": "Hostname",
                                "value": "hostname"
                              },
                              {
                                "label": "IPv4",
                                "value": "ipv4"
                              },
                              {
                                "label": "IPv6",
                                "value": "ipv6"
                              },
                              {
                                "label": "URI",
                                "value": "uri"
                              },
                              {
                                "label": "UUID",
                                "value": "uuid"
                              },
                              {
                                "label": "Regex",
                                "value": "regex"
                              }
                            ],
                            "required": null
                          },
                          {
                            "help": null,
                            "name": "required",
                            "spec": null,
                            "type": "boolean",
                            "label": "Required Property?",
                            "options": null,
                            "required": null
                          },
                          {
                            "help": null,
                            "name": "array",
                            "spec": null,
                            "type": "boolean",
                            "label": "Make property an array?",
                            "options": null,
                            "required": null
                          }
                        ]
                      },
                      "array": {
                        "mode": "chose"
                      },
                      "format": {
                        "mode": "chose",
                        "label": "Empty"
                      },
                      "required": {
                        "mode": "chose"
                      }
                    },
                    {
                      "type": {
                        "mode": "chose",
                        "label": "String",
                        "nested": [
                          {
                            "help": null,
                            "name": "property_name",
                            "spec": null,
                            "type": "text",
                            "label": "Property Name",
                            "options": null,
                            "required": true
                          },
                          {
                            "help": null,
                            "name": "description",
                            "spec": null,
                            "type": "text",
                            "label": "Description",
                            "options": null,
                            "required": false
                          },
                          {
                            "help": "The format is not being validated post generation. Add guidance in the prompt and/or property description.",
                            "name": "format",
                            "spec": null,
                            "type": "select",
                            "label": "Format",
                            "options": [
                              {
                                "label": "Date-Time",
                                "value": "date-time"
                              },
                              {
                                "label": "Date",
                                "value": "date"
                              },
                              {
                                "label": "Time",
                                "value": "time"
                              },
                              {
                                "label": "Email",
                                "value": "email"
                              },
                              {
                                "label": "Hostname",
                                "value": "hostname"
                              },
                              {
                                "label": "IPv4",
                                "value": "ipv4"
                              },
                              {
                                "label": "IPv6",
                                "value": "ipv6"
                              },
                              {
                                "label": "URI",
                                "value": "uri"
                              },
                              {
                                "label": "UUID",
                                "value": "uuid"
                              },
                              {
                                "label": "Regex",
                                "value": "regex"
                              }
                            ],
                            "required": null
                          },
                          {
                            "help": null,
                            "name": "required",
                            "spec": null,
                            "type": "boolean",
                            "label": "Required Property?",
                            "options": null,
                            "required": null
                          },
                          {
                            "help": null,
                            "name": "array",
                            "spec": null,
                            "type": "boolean",
                            "label": "Make property an array?",
                            "options": null,
                            "required": null
                          }
                        ]
                      },
                      "array": {
                        "mode": "chose"
                      },
                      "format": {
                        "mode": "chose",
                        "label": "Empty"
                      },
                      "required": {
                        "mode": "chose"
                      }
                    },
                    {
                      "type": {
                        "mode": "chose",
                        "label": "String",
                        "nested": [
                          {
                            "help": null,
                            "name": "property_name",
                            "spec": null,
                            "type": "text",
                            "label": "Property Name",
                            "options": null,
                            "required": true
                          },
                          {
                            "help": null,
                            "name": "description",
                            "spec": null,
                            "type": "text",
                            "label": "Description",
                            "options": null,
                            "required": false
                          },
                          {
                            "help": "The format is not being validated post generation. Add guidance in the prompt and/or property description.",
                            "name": "format",
                            "spec": null,
                            "type": "select",
                            "label": "Format",
                            "options": [
                              {
                                "label": "Date-Time",
                                "value": "date-time"
                              },
                              {
                                "label": "Date",
                                "value": "date"
                              },
                              {
                                "label": "Time",
                                "value": "time"
                              },
                              {
                                "label": "Email",
                                "value": "email"
                              },
                              {
                                "label": "Hostname",
                                "value": "hostname"
                              },
                              {
                                "label": "IPv4",
                                "value": "ipv4"
                              },
                              {
                                "label": "IPv6",
                                "value": "ipv6"
                              },
                              {
                                "label": "URI",
                                "value": "uri"
                              },
                              {
                                "label": "UUID",
                                "value": "uuid"
                              },
                              {
                                "label": "Regex",
                                "value": "regex"
                              }
                            ],
                            "required": null
                          },
                          {
                            "help": null,
                            "name": "required",
                            "spec": null,
                            "type": "boolean",
                            "label": "Required Property?",
                            "options": null,
                            "required": null
                          },
                          {
                            "help": null,
                            "name": "array",
                            "spec": null,
                            "type": "boolean",
                            "label": "Make property an array?",
                            "options": null,
                            "required": null
                          }
                        ]
                      },
                      "array": {
                        "mode": "chose"
                      },
                      "format": {
                        "mode": "chose",
                        "label": "Empty"
                      },
                      "required": {
                        "mode": "chose"
                      }
                    },
                    {
                      "type": {
                        "mode": "chose",
                        "label": "Number",
                        "nested": [
                          {
                            "help": null,
                            "name": "property_name",
                            "spec": null,
                            "type": "text",
                            "label": "Property Name",
                            "options": null,
                            "required": true
                          },
                          {
                            "help": null,
                            "name": "description",
                            "spec": null,
                            "type": "text",
                            "label": "Description",
                            "options": null,
                            "required": false
                          },
                          {
                            "help": null,
                            "name": "minimum",
                            "spec": null,
                            "type": "number",
                            "label": "Minimum Value",
                            "options": null,
                            "required": null
                          },
                          {
                            "help": null,
                            "name": "maximum",
                            "spec": null,
                            "type": "number",
                            "label": "Maximum Value",
                            "options": null,
                            "required": null
                          },
                          {
                            "help": null,
                            "name": "required",
                            "spec": null,
                            "type": "boolean",
                            "label": "Required Property?",
                            "options": null,
                            "required": null
                          },
                          {
                            "help": null,
                            "name": "array",
                            "spec": null,
                            "type": "boolean",
                            "label": "Make property an array?",
                            "options": null,
                            "required": null
                          }
                        ]
                      },
                      "array": {
                        "mode": "chose"
                      },
                      "required": {
                        "mode": "chose"
                      }
                    },
                    {
                      "type": {
                        "mode": "chose",
                        "label": "String",
                        "nested": [
                          {
                            "help": null,
                            "name": "property_name",
                            "spec": null,
                            "type": "text",
                            "label": "Property Name",
                            "options": null,
                            "required": true
                          },
                          {
                            "help": null,
                            "name": "description",
                            "spec": null,
                            "type": "text",
                            "label": "Description",
                            "options": null,
                            "required": false
                          },
                          {
                            "help": "The format is not being validated post generation. Add guidance in the prompt and/or property description.",
                            "name": "format",
                            "spec": null,
                            "type": "select",
                            "label": "Format",
                            "options": [
                              {
                                "label": "Date-Time",
                                "value": "date-time"
                              },
                              {
                                "label": "Date",
                                "value": "date"
                              },
                              {
                                "label": "Time",
                                "value": "time"
                              },
                              {
                                "label": "Email",
                                "value": "email"
                              },
                              {
                                "label": "Hostname",
                                "value": "hostname"
                              },
                              {
                                "label": "IPv4",
                                "value": "ipv4"
                              },
                              {
                                "label": "IPv6",
                                "value": "ipv6"
                              },
                              {
                                "label": "URI",
                                "value": "uri"
                              },
                              {
                                "label": "UUID",
                                "value": "uuid"
                              },
                              {
                                "label": "Regex",
                                "value": "regex"
                              }
                            ],
                            "required": null
                          },
                          {
                            "help": null,
                            "name": "required",
                            "spec": null,
                            "type": "boolean",
                            "label": "Required Property?",
                            "options": null,
                            "required": null
                          },
                          {
                            "help": null,
                            "name": "array",
                            "spec": null,
                            "type": "boolean",
                            "label": "Make property an array?",
                            "options": null,
                            "required": null
                          }
                        ]
                      },
                      "array": {
                        "mode": "chose"
                      },
                      "format": {
                        "mode": "chose",
                        "label": "Empty"
                      },
                      "required": {
                        "mode": "chose"
                      }
                    },
                    {
                      "type": {
                        "mode": "chose",
                        "label": "String",
                        "nested": [
                          {
                            "help": null,
                            "name": "property_name",
                            "spec": null,
                            "type": "text",
                            "label": "Property Name",
                            "options": null,
                            "required": true
                          },
                          {
                            "help": null,
                            "name": "description",
                            "spec": null,
                            "type": "text",
                            "label": "Description",
                            "options": null,
                            "required": false
                          },
                          {
                            "help": "The format is not being validated post generation. Add guidance in the prompt and/or property description.",
                            "name": "format",
                            "spec": null,
                            "type": "select",
                            "label": "Format",
                            "options": [
                              {
                                "label": "Date-Time",
                                "value": "date-time"
                              },
                              {
                                "label": "Date",
                                "value": "date"
                              },
                              {
                                "label": "Time",
                                "value": "time"
                              },
                              {
                                "label": "Email",
                                "value": "email"
                              },
                              {
                                "label": "Hostname",
                                "value": "hostname"
                              },
                              {
                                "label": "IPv4",
                                "value": "ipv4"
                              },
                              {
                                "label": "IPv6",
                                "value": "ipv6"
                              },
                              {
                                "label": "URI",
                                "value": "uri"
                              },
                              {
                                "label": "UUID",
                                "value": "uuid"
                              },
                              {
                                "label": "Regex",
                                "value": "regex"
                              }
                            ],
                            "required": null
                          },
                          {
                            "help": null,
                            "name": "required",
                            "spec": null,
                            "type": "boolean",
                            "label": "Required Property?",
                            "options": null,
                            "required": null
                          },
                          {
                            "help": null,
                            "name": "array",
                            "spec": null,
                            "type": "boolean",
                            "label": "Make property an array?",
                            "options": null,
                            "required": null
                          }
                        ]
                      },
                      "array": {
                        "mode": "chose"
                      },
                      "format": {
                        "mode": "chose",
                        "label": "Empty"
                      },
                      "required": {
                        "mode": "chose"
                      }
                    },
                    {
                      "type": {
                        "mode": "chose",
                        "label": "String",
                        "nested": [
                          {
                            "help": null,
                            "name": "property_name",
                            "spec": null,
                            "type": "text",
                            "label": "Property Name",
                            "options": null,
                            "required": true
                          },
                          {
                            "help": null,
                            "name": "description",
                            "spec": null,
                            "type": "text",
                            "label": "Description",
                            "options": null,
                            "required": false
                          },
                          {
                            "help": "The format is not being validated post generation. Add guidance in the prompt and/or property description.",
                            "name": "format",
                            "spec": null,
                            "type": "select",
                            "label": "Format",
                            "options": [
                              {
                                "label": "Date-Time",
                                "value": "date-time"
                              },
                              {
                                "label": "Date",
                                "value": "date"
                              },
                              {
                                "label": "Time",
                                "value": "time"
                              },
                              {
                                "label": "Email",
                                "value": "email"
                              },
                              {
                                "label": "Hostname",
                                "value": "hostname"
                              },
                              {
                                "label": "IPv4",
                                "value": "ipv4"
                              },
                              {
                                "label": "IPv6",
                                "value": "ipv6"
                              },
                              {
                                "label": "URI",
                                "value": "uri"
                              },
                              {
                                "label": "UUID",
                                "value": "uuid"
                              },
                              {
                                "label": "Regex",
                                "value": "regex"
                              }
                            ],
                            "required": null
                          },
                          {
                            "help": null,
                            "name": "required",
                            "spec": null,
                            "type": "boolean",
                            "label": "Required Property?",
                            "options": null,
                            "required": null
                          },
                          {
                            "help": null,
                            "name": "array",
                            "spec": null,
                            "type": "boolean",
                            "label": "Make property an array?",
                            "options": null,
                            "required": null
                          }
                        ]
                      },
                      "array": {
                        "mode": "chose"
                      },
                      "format": {
                        "mode": "chose",
                        "label": "Empty"
                      },
                      "required": {
                        "mode": "chose"
                      }
                    },
                    {
                      "type": {
                        "mode": "chose",
                        "label": "String",
                        "nested": [
                          {
                            "help": null,
                            "name": "property_name",
                            "spec": null,
                            "type": "text",
                            "label": "Property Name",
                            "options": null,
                            "required": true
                          },
                          {
                            "help": null,
                            "name": "description",
                            "spec": null,
                            "type": "text",
                            "label": "Description",
                            "options": null,
                            "required": false
                          },
                          {
                            "help": "The format is not being validated post generation. Add guidance in the prompt and/or property description.",
                            "name": "format",
                            "spec": null,
                            "type": "select",
                            "label": "Format",
                            "options": [
                              {
                                "label": "Date-Time",
                                "value": "date-time"
                              },
                              {
                                "label": "Date",
                                "value": "date"
                              },
                              {
                                "label": "Time",
                                "value": "time"
                              },
                              {
                                "label": "Email",
                                "value": "email"
                              },
                              {
                                "label": "Hostname",
                                "value": "hostname"
                              },
                              {
                                "label": "IPv4",
                                "value": "ipv4"
                              },
                              {
                                "label": "IPv6",
                                "value": "ipv6"
                              },
                              {
                                "label": "URI",
                                "value": "uri"
                              },
                              {
                                "label": "UUID",
                                "value": "uuid"
                              },
                              {
                                "label": "Regex",
                                "value": "regex"
                              }
                            ],
                            "required": null
                          },
                          {
                            "help": null,
                            "name": "required",
                            "spec": null,
                            "type": "boolean",
                            "label": "Required Property?",
                            "options": null,
                            "required": null
                          },
                          {
                            "help": null,
                            "name": "array",
                            "spec": null,
                            "type": "boolean",
                            "label": "Make property an array?",
                            "options": null,
                            "required": null
                          }
                        ]
                      },
                      "array": {
                        "mode": "chose"
                      },
                      "format": {
                        "mode": "chose",
                        "label": "Empty"
                      },
                      "required": {
                        "mode": "chose"
                      }
                    }
                  ]
                },
                "responseModalities": {
                  "mode": "chose"
                }
              }
            },
            "system_instruction": {
              "nested": {
                "parts": {
                  "mode": "chose"
                }
              }
            },
            "google_maps_context": {
              "mode": "chose"
            },
            "google_search_context": {
              "mode": "chose"
            },
            "file_search_store_context": {
              "mode": "chose"
            },
            "function_declarations_context": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "gemini-ai-q9zyjp"
              },
              "label": "My Gemini AI connection"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:gemini-ai-q9zyjp",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "model",
            "type": "select",
            "label": "AI Model",
            "required": true
          },
          {
            "name": "contents",
            "spec": [
              {
                "name": "role",
                "type": "select",
                "label": "Role",
                "options": [
                  {
                    "label": "User",
                    "value": "user"
                  },
                  {
                    "label": "Model",
                    "value": "model"
                  }
                ]
              },
              {
                "name": "parts",
                "spec": [
                  {
                    "name": "type",
                    "type": "select",
                    "label": "Message Type",
                    "options": [
                      {
                        "label": "Text",
                        "value": "text",
                        "nested": [
                          {
                            "name": "text",
                            "type": "text",
                            "label": "Text",
                            "required": false
                          }
                        ]
                      },
                      {
                        "label": "File",
                        "value": "file",
                        "nested": [
                          {
                            "name": "file_data",
                            "spec": [
                              {
                                "name": "mime_type",
                                "type": "text",
                                "label": "Mime Type",
                                "required": false
                              },
                              {
                                "help": "You can use public or signed URLs as input by using the URLs.",
                                "name": "file_uri",
                                "type": "text",
                                "label": "File URI",
                                "required": false
                              }
                            ],
                            "type": "collection",
                            "label": "File Data",
                            "required": false
                          }
                        ]
                      },
                      {
                        "label": "Function Call",
                        "value": "functionCall",
                        "nested": [
                          {
                            "name": "functionCall",
                            "spec": [
                              {
                                "help": "The name of the function to call.",
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true,
                                "validate": {
                                  "max": 64
                                }
                              },
                              {
                                "help": "The function parameters and values in JSON object format.",
                                "name": "args",
                                "type": "json",
                                "label": "Arguments"
                              },
                              {
                                "help": "The unique ID of the function call.",
                                "name": "id",
                                "type": "text",
                                "label": "Function Call ID"
                              }
                            ],
                            "type": "collection",
                            "label": "Function Call"
                          }
                        ]
                      },
                      {
                        "label": "Function Response",
                        "value": "functionResponse",
                        "nested": [
                          {
                            "name": "functionResponse",
                            "spec": [
                              {
                                "help": "The name of the function to call.",
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true,
                                "validate": {
                                  "max": 64
                                }
                              },
                              {
                                "help": "The function response in JSON object format.",
                                "name": "response",
                                "type": "json",
                                "label": "Response",
                                "required": true
                              }
                            ],
                            "type": "collection",
                            "label": "Function Response"
                          }
                        ]
                      }
                    ]
                  },
                  {
                    "name": "thoughtSignature",
                    "type": "text",
                    "label": "Thought Signature"
                  }
                ],
                "type": "array",
                "label": "Parts"
              }
            ],
            "type": "array",
            "label": "Messages",
            "required": true
          },
          {
            "name": "system_instruction",
            "spec": [
              {
                "name": "parts",
                "spec": {
                  "name": "value",
                  "spec": [
                    {
                      "name": "text",
                      "type": "text",
                      "label": "Value"
                    }
                  ],
                  "type": "collection",
                  "label": "Prompt"
                },
                "type": "array",
                "label": "Prompts"
              }
            ],
            "type": "collection",
            "label": "System Instructions"
          },
          {
            "name": "safetySettings",
            "spec": [
              {
                "name": "category",
                "type": "select",
                "label": "Category",
                "options": [
                  {
                    "label": "Harassment content",
                    "value": "HARM_CATEGORY_HARASSMENT"
                  },
                  {
                    "label": "Hate speech and content",
                    "value": "HARM_CATEGORY_HATE_SPEECH"
                  },
                  {
                    "label": "Sexually explicit content.",
                    "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                  },
                  {
                    "label": "Dangerous content:",
                    "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                  }
                ]
              },
              {
                "name": "threshold",
                "type": "select",
                "label": "Threshold",
                "options": [
                  {
                    "label": "Block low and above.",
                    "value": "BLOCK_LOW_AND_ABOVE"
                  },
                  {
                    "label": "Block medium and above.",
                    "value": "BLOCK_MEDIUM_AND_ABOVE"
                  },
                  {
                    "label": "Block only high.",
                    "value": "BLOCK_ONLY_HIGH"
                  },
                  {
                    "label": "Block none.",
                    "value": "BLOCK_NONE"
                  }
                ]
              }
            ],
            "type": "array",
            "label": "Safety Settings"
          },
          {
            "name": "generationConfig",
            "spec": [
              {
                "name": "stopSequences",
                "spec": {
                  "name": "value",
                  "type": "text",
                  "label": "Stop Sequence"
                },
                "type": "array",
                "label": "Stop Sequences"
              },
              {
                "name": "responseModalities",
                "type": "select",
                "label": "Response Modalities",
                "multiple": true,
                "validate": {
                  "enum": ["text", "image"]
                }
              },
              {
                "name": "maxOutputTokens",
                "type": "number",
                "label": "Max Output Tokens"
              },
              {
                "name": "temperature",
                "type": "number",
                "label": "Temperature",
                "validate": {
                  "max": 1,
                  "min": 0
                }
              },
              {
                "name": "topP",
                "type": "number",
                "label": "Top P",
                "validate": {
                  "max": 1,
                  "min": 0
                }
              },
              {
                "name": "topK",
                "type": "number",
                "label": "Top K"
              },
              {
                "name": "thinkingConfig",
                "spec": [
                  {
                    "name": "thinkingBudget",
                    "type": "number",
                    "label": "Thinking Budget"
                  },
                  {
                    "name": "include_thoughts",
                    "type": "boolean",
                    "label": "Include Thoughts"
                  },
                  {
                    "name": "thinking_level",
                    "type": "select",
                    "label": "Thinking Level",
                    "validate": {
                      "enum": ["low", "high"]
                    }
                  }
                ],
                "type": "collection",
                "label": "Thinking Config"
              },
              {
                "name": "mediaResolution",
                "type": "select",
                "label": "Media Resolution",
                "validate": {
                  "enum": [
                    "media_resolution_low",
                    "media_resolution_medium",
                    "media_resolution_high"
                  ]
                }
              },
              {
                "name": "imageConfig",
                "spec": [
                  {
                    "name": "imageSize",
                    "type": "select",
                    "label": "Image Size",
                    "validate": {
                      "enum": ["1K", "2K", "4K"]
                    }
                  }
                ],
                "type": "collection",
                "label": "Image Configuration"
              },
              {
                "name": "responseMimeType",
                "type": "select",
                "label": "Response Format"
              },
              {
                "name": "responseSchema",
                "type": "any",
                "label": "Response Schema (Deprecated)"
              },
              {
                "name": "new_responseSchema",
                "spec": [
                  {
                    "name": "type",
                    "type": "select",
                    "label": "Value Type",
                    "options": [
                      {
                        "label": "String",
                        "value": "string",
                        "nested": "rpc://gemini-ai/1/createResponseSchema?type=string"
                      },
                      {
                        "label": "Enum",
                        "value": "enum",
                        "nested": "rpc://gemini-ai/1/createResponseSchema?type=enum"
                      },
                      {
                        "label": "Number",
                        "value": "number",
                        "nested": "rpc://gemini-ai/1/createResponseSchema?type=number"
                      },
                      {
                        "label": "Integer",
                        "value": "integer",
                        "nested": "rpc://gemini-ai/1/createResponseSchema?type=integer"
                      },
                      {
                        "label": "Boolean",
                        "value": "boolean",
                        "nested": "rpc://gemini-ai/1/createResponseSchema?type=boolean"
                      },
                      {
                        "label": "Object",
                        "value": "object",
                        "nested": "rpc://gemini-ai/1/createResponseSchema?type=object"
                      }
                    ]
                  }
                ],
                "type": "array",
                "label": "Response Schema"
              }
            ],
            "type": "collection",
            "label": "Generation configurations"
          },
          {
            "name": "tools",
            "type": "any",
            "label": "Tools"
          },
          {
            "name": "tool_config",
            "type": "any",
            "label": "Tool Config"
          },
          {
            "name": "function_declarations_context",
            "type": "boolean",
            "label": "Function Declarations Grounding"
          },
          {
            "name": "url_context",
            "type": "boolean",
            "label": "URL Context"
          },
          {
            "name": "google_search_context",
            "type": "boolean",
            "label": "Google Search Grounding"
          },
          {
            "name": "code_execution",
            "type": "boolean",
            "label": "Code Execution"
          },
          {
            "name": "google_maps_context",
            "type": "boolean",
            "label": "Google Maps Grounding"
          },
          {
            "name": "file_search_store_context",
            "type": "boolean",
            "label": "File Search Store Context"
          }
        ],
        "advanced": true
      }
    },
    {
      "id": 3,
      "module": "notion:createAPage",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 7332552
      },
      "mapper": {
        "fields": {
          "hccC": "{{2.result.`Draft Response`}}",
          "tOXp": "{{2.result.Priority}}",
          "wjgG": "{{2.result.`Draft Subject Response`}}",
          "title": "{{1.fromName}}",
          "FU%40n": "{{1.subject}}",
          "IB%5Dz": "{{2.result.Summary}}",
          "fX%3An": "{{2.result.Sentiment}}",
          "ifc%3D": "{{2.result.`Confidence Score`}}",
          "qD%5ER": "{{1.fullTextBody}}",
          "~Qw%60": "{{2.result.Intent}}",
          "%3F%40XR": "{{1.fromEmail}}",
          "n%3Ah%7B": "{{2.result.Status}}"
        },
        "select": "list",
        "database": "304111cb-5fac-805e-89c5-eb8832b318d8"
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 150
        },
        "restore": {
          "expect": {
            "fields": {
              "nested": {
                "tOXp": {
                  "mode": "edit"
                },
                "fX%3An": {
                  "mode": "edit"
                },
                "~Qw%60": {
                  "mode": "edit"
                },
                "n%3Ah%7B": {
                  "mode": "edit"
                }
              }
            },
            "select": {
              "label": "Select from the list"
            },
            "database": {
              "nested": [
                {
                  "name": "fields",
                  "spec": [
                    {
                      "name": "title",
                      "type": "text",
                      "label": "Customer Name",
                      "metadata": {
                        "type": "title"
                      },
                      "required": true
                    },
                    {
                      "name": "%3F%40XR",
                      "type": "email",
                      "label": "Sender Email",
                      "metadata": {
                        "type": "email"
                      }
                    },
                    {
                      "name": "FU%40n",
                      "type": "text",
                      "label": "Sender Subject",
                      "metadata": {
                        "type": "rich_text"
                      }
                    },
                    {
                      "name": "IB%5Dz",
                      "type": "text",
                      "label": "Summary",
                      "metadata": {
                        "type": "rich_text"
                      }
                    },
                    {
                      "name": "fX%3An",
                      "type": "select",
                      "label": "Sentiment",
                      "options": [
                        {
                          "label": "Happy",
                          "value": "Happy"
                        },
                        {
                          "label": "Neutral",
                          "value": "Neutral"
                        },
                        {
                          "label": "Angry",
                          "value": "Angry"
                        }
                      ],
                      "metadata": {
                        "type": "select"
                      },
                      "validate": false
                    },
                    {
                      "name": "hccC",
                      "type": "text",
                      "label": "Draft Response",
                      "metadata": {
                        "type": "rich_text"
                      }
                    },
                    {
                      "name": "ifc%3D",
                      "type": "number",
                      "label": "Confidence Score",
                      "metadata": {
                        "type": "number"
                      }
                    },
                    {
                      "name": "n%3Ah%7B",
                      "type": "select",
                      "label": "Status",
                      "options": [
                        {
                          "label": "Auto Sent",
                          "value": "Auto Sent"
                        },
                        {
                          "label": "Review",
                          "value": "Review"
                        }
                      ],
                      "metadata": {
                        "type": "select"
                      },
                      "validate": false
                    },
                    {
                      "name": "qD%5ER",
                      "type": "text",
                      "label": "Original Message",
                      "metadata": {
                        "type": "rich_text"
                      }
                    },
                    {
                      "name": "tOXp",
                      "type": "select",
                      "label": "Priority",
                      "options": [],
                      "metadata": {
                        "type": "select"
                      },
                      "validate": false
                    },
                    {
                      "name": "wjgG",
                      "type": "text",
                      "label": "Draft Subject Response",
                      "metadata": {
                        "type": "rich_text"
                      }
                    },
                    {
                      "name": "~Qw%60",
                      "type": "select",
                      "label": "Intent",
                      "options": [
                        {
                          "label": "Inquiry",
                          "value": "Inquiry"
                        },
                        {
                          "label": "Complaint",
                          "value": "Complaint"
                        },
                        {
                          "label": "Refund",
                          "value": "Refund"
                        },
                        {
                          "label": "Other",
                          "value": "Other"
                        }
                      ],
                      "metadata": {
                        "type": "select"
                      },
                      "validate": false
                    }
                  ],
                  "type": "collection",
                  "label": "Fields"
                }
              ],
              "rpcSearch": {
                "label": null,
                "value": "304111cb-5fac-805e-89c5-eb8832b318d8"
              }
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "notion2"
              },
              "label": "My Notion Public connection (Lawrenze Romeros Space)"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:notion2,notion3",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "select",
            "type": "select",
            "label": "Enter a Database ID",
            "required": true,
            "validate": {
              "enum": ["map", "list"]
            }
          },
          {
            "name": "database",
            "type": "text",
            "label": "Database ID",
            "required": true
          },
          {
            "name": "fields",
            "spec": [
              {
                "name": "title",
                "type": "text",
                "label": "Customer Name",
                "metadata": {
                  "type": "title"
                },
                "required": true
              },
              {
                "name": "%3F%40XR",
                "type": "email",
                "label": "Sender Email",
                "metadata": {
                  "type": "email"
                }
              },
              {
                "name": "FU%40n",
                "type": "text",
                "label": "Sender Subject",
                "metadata": {
                  "type": "rich_text"
                }
              },
              {
                "name": "IB%5Dz",
                "type": "text",
                "label": "Summary",
                "metadata": {
                  "type": "rich_text"
                }
              },
              {
                "name": "fX%3An",
                "type": "select",
                "label": "Sentiment",
                "metadata": {
                  "type": "select"
                }
              },
              {
                "name": "hccC",
                "type": "text",
                "label": "Draft Response",
                "metadata": {
                  "type": "rich_text"
                }
              },
              {
                "name": "ifc%3D",
                "type": "number",
                "label": "Confidence Score",
                "metadata": {
                  "type": "number"
                }
              },
              {
                "name": "n%3Ah%7B",
                "type": "select",
                "label": "Status",
                "metadata": {
                  "type": "select"
                }
              },
              {
                "name": "qD%5ER",
                "type": "text",
                "label": "Original Message",
                "metadata": {
                  "type": "rich_text"
                }
              },
              {
                "name": "tOXp",
                "type": "select",
                "label": "Priority",
                "metadata": {
                  "type": "select"
                }
              },
              {
                "name": "wjgG",
                "type": "text",
                "label": "Draft Subject Response",
                "metadata": {
                  "type": "rich_text"
                }
              },
              {
                "name": "~Qw%60",
                "type": "select",
                "label": "Intent",
                "metadata": {
                  "type": "select"
                }
              }
            ],
            "type": "collection",
            "label": "Fields"
          }
        ],
        "interface": [
          {
            "name": "object",
            "type": "text",
            "label": "Object"
          },
          {
            "name": "id",
            "type": "text",
            "label": "Database Item ID"
          },
          {
            "name": "created_time",
            "type": "date",
            "label": "Created Time"
          },
          {
            "name": "last_edited_time",
            "type": "date",
            "label": "Last Edited Time"
          },
          {
            "name": "created_by",
            "spec": [
              {
                "name": "object",
                "type": "text",
                "label": "Object"
              },
              {
                "name": "id",
                "type": "uuid",
                "label": "ID"
              }
            ],
            "type": "collection",
            "label": "Created by"
          },
          {
            "name": "last_edited_by",
            "spec": [
              {
                "name": "object",
                "type": "text",
                "label": "Object"
              },
              {
                "name": "id",
                "type": "uuid",
                "label": "ID"
              }
            ],
            "type": "collection",
            "label": "Last Edited by"
          },
          {
            "name": "icon",
            "spec": [
              {
                "name": "type",
                "type": "text",
                "label": "Type"
              },
              {
                "name": "emoji",
                "type": "text",
                "label": "Emoji"
              }
            ],
            "type": "collection",
            "label": "Icon"
          },
          {
            "name": "cover",
            "spec": [
              {
                "name": "type",
                "type": "text",
                "label": "Type"
              },
              {
                "name": "external",
                "spec": [
                  {
                    "name": "url",
                    "type": "text",
                    "label": "URL"
                  }
                ],
                "type": "collection",
                "label": "External"
              }
            ],
            "type": "collection",
            "label": "Cover"
          },
          {
            "name": "url",
            "type": "text",
            "label": "URL"
          },
          {
            "name": "parent",
            "spec": [
              {
                "name": "type",
                "type": "text",
                "label": "Type"
              },
              {
                "name": "workspace",
                "type": "boolean",
                "label": "Workspace"
              },
              {
                "name": "page_id",
                "type": "text",
                "label": "Page ID"
              },
              {
                "name": "database_id",
                "type": "text",
                "label": "Database ID"
              }
            ],
            "type": "collection",
            "label": "Parent"
          },
          {
            "name": "archived",
            "type": "boolean",
            "label": "Archived"
          },
          {
            "name": "properties",
            "spec": {
              "spec": [
                {
                  "name": "id",
                  "type": "text",
                  "label": "ID"
                },
                {
                  "name": "type",
                  "type": "text",
                  "label": "Type"
                },
                {
                  "name": "people",
                  "spec": {
                    "spec": [
                      {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                      },
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      },
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                      },
                      {
                        "name": "avatar_url",
                        "type": "text",
                        "label": "Avatar Url"
                      },
                      {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                      },
                      {
                        "name": "person",
                        "spec": [
                          {
                            "name": "email",
                            "type": "text",
                            "label": "Email"
                          }
                        ],
                        "type": "collection",
                        "label": "Person"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "People"
                },
                {
                  "name": "url",
                  "type": "text",
                  "label": "URL"
                },
                {
                  "name": "text",
                  "spec": {
                    "spec": [
                      {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                      },
                      {
                        "name": "text",
                        "spec": [
                          {
                            "name": "content",
                            "type": "text",
                            "label": "Content"
                          },
                          {
                            "name": "link",
                            "type": "text",
                            "label": "Link"
                          }
                        ],
                        "type": "collection",
                        "label": "Text"
                      },
                      {
                        "name": "annotations",
                        "spec": [
                          {
                            "name": "bold",
                            "type": "boolean",
                            "label": "Bold"
                          },
                          {
                            "name": "italic",
                            "type": "boolean",
                            "label": "Italic"
                          },
                          {
                            "name": "strikethrough",
                            "type": "boolean",
                            "label": "Strikethrough"
                          },
                          {
                            "name": "underline",
                            "type": "boolean",
                            "label": "Underline"
                          },
                          {
                            "name": "code",
                            "type": "boolean",
                            "label": "Code"
                          },
                          {
                            "name": "color",
                            "type": "text",
                            "label": "Color"
                          }
                        ],
                        "type": "collection",
                        "label": "Annotations"
                      },
                      {
                        "name": "plain_text",
                        "type": "text",
                        "label": "Plain Text"
                      },
                      {
                        "name": "href",
                        "type": "text",
                        "label": "Href"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Text"
                },
                {
                  "name": "select",
                  "spec": [
                    {
                      "name": "id",
                      "type": "text",
                      "label": "ID"
                    },
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name"
                    },
                    {
                      "name": "color",
                      "type": "text",
                      "label": "Color"
                    }
                  ],
                  "type": "collection",
                  "label": "Select"
                },
                {
                  "name": "email",
                  "type": "text",
                  "label": "Email"
                },
                {
                  "name": "phone_number",
                  "type": "text",
                  "label": "Phone Number"
                },
                {
                  "name": "multi_select",
                  "spec": {
                    "spec": [
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      },
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Multi Select"
                },
                {
                  "name": "date",
                  "spec": [
                    {
                      "name": "start",
                      "type": "text",
                      "label": "Start"
                    },
                    {
                      "name": "end",
                      "type": "text",
                      "label": "End"
                    }
                  ],
                  "type": "collection",
                  "label": "Date"
                },
                {
                  "name": "checkbox",
                  "type": "boolean",
                  "label": "Checkbox"
                },
                {
                  "name": "number",
                  "type": "number",
                  "label": "Number"
                },
                {
                  "name": "files",
                  "spec": {
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Files"
                },
                {
                  "name": "title",
                  "spec": {
                    "spec": [
                      {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                      },
                      {
                        "name": "text",
                        "spec": [
                          {
                            "name": "content",
                            "type": "text",
                            "label": "Content"
                          },
                          {
                            "name": "link",
                            "type": "text",
                            "label": "Link"
                          }
                        ],
                        "type": "collection",
                        "label": "Text"
                      },
                      {
                        "name": "annotations",
                        "spec": [
                          {
                            "name": "bold",
                            "type": "boolean",
                            "label": "Bold"
                          },
                          {
                            "name": "italic",
                            "type": "boolean",
                            "label": "Italic"
                          },
                          {
                            "name": "strikethrough",
                            "type": "boolean",
                            "label": "Strikethrough"
                          },
                          {
                            "name": "underline",
                            "type": "boolean",
                            "label": "Underline"
                          },
                          {
                            "name": "code",
                            "type": "boolean",
                            "label": "Code"
                          },
                          {
                            "name": "color",
                            "type": "text",
                            "label": "Color"
                          }
                        ],
                        "type": "collection",
                        "label": "Annotations"
                      },
                      {
                        "name": "plain_text",
                        "type": "text",
                        "label": "Plain Text"
                      },
                      {
                        "name": "href",
                        "type": "text",
                        "label": "Href"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Title"
                },
                {
                  "name": "last_edited_time",
                  "time": true,
                  "type": "date",
                  "label": "Last Edited Time"
                },
                {
                  "name": "created_time",
                  "time": true,
                  "type": "date",
                  "label": "Created Time"
                },
                {
                  "name": "last_edited_by",
                  "spec": [
                    {
                      "name": "object",
                      "type": "text",
                      "label": "Object"
                    },
                    {
                      "name": "id",
                      "type": "text",
                      "label": "ID"
                    },
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name"
                    },
                    {
                      "name": "avatar_url",
                      "type": "text",
                      "label": "Avatar Url"
                    },
                    {
                      "name": "type",
                      "type": "text",
                      "label": "Type"
                    },
                    {
                      "name": "person",
                      "spec": [
                        {
                          "name": "email",
                          "type": "text",
                          "label": "Email"
                        }
                      ],
                      "type": "collection",
                      "label": "Person"
                    }
                  ],
                  "type": "collection",
                  "label": "Last Edited By"
                },
                {
                  "name": "created_by",
                  "spec": [
                    {
                      "name": "object",
                      "type": "text",
                      "label": "Object"
                    },
                    {
                      "name": "id",
                      "type": "text",
                      "label": "ID"
                    },
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name"
                    },
                    {
                      "name": "avatar_url",
                      "type": "text",
                      "label": "Avatar Url"
                    },
                    {
                      "name": "type",
                      "type": "text",
                      "label": "Type"
                    },
                    {
                      "name": "person",
                      "spec": [
                        {
                          "name": "email",
                          "type": "text",
                          "label": "Email"
                        }
                      ],
                      "type": "collection",
                      "label": "Person"
                    }
                  ],
                  "type": "collection",
                  "label": "Created By"
                },
                {
                  "name": "formula",
                  "spec": [
                    {
                      "name": "type",
                      "type": "text",
                      "label": "Type"
                    },
                    {
                      "name": "string",
                      "type": "text",
                      "label": "String"
                    }
                  ],
                  "type": "collection",
                  "label": "Formula"
                },
                {
                  "name": "relation",
                  "spec": {
                    "spec": [
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Relation"
                },
                {
                  "name": "label",
                  "type": "text",
                  "label": "Label"
                }
              ],
              "type": "collection"
            },
            "type": "array",
            "label": "Properties"
          },
          {
            "name": "properties_value",
            "spec": [
              {
                "name": "Sender Email",
                "type": "text",
                "label": "Sender Email"
              },
              {
                "name": "Sender Subject",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      },
                      {
                        "name": "link",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "type": "collection",
                    "label": "Text"
                  },
                  {
                    "name": "annotations",
                    "spec": [
                      {
                        "name": "bold",
                        "type": "boolean",
                        "label": "Bold"
                      },
                      {
                        "name": "italic",
                        "type": "boolean",
                        "label": "Italic"
                      },
                      {
                        "name": "strikethrough",
                        "type": "boolean",
                        "label": "Strikethrough"
                      },
                      {
                        "name": "underline",
                        "type": "boolean",
                        "label": "Underline"
                      },
                      {
                        "name": "code",
                        "type": "boolean",
                        "label": "Code"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "type": "collection",
                    "label": "Annotations"
                  },
                  {
                    "name": "plain_text",
                    "type": "text",
                    "label": "Plain Text"
                  },
                  {
                    "name": "href",
                    "type": "text",
                    "label": "Href"
                  }
                ],
                "type": "array",
                "label": "Sender Subject"
              },
              {
                "name": "Summary",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      },
                      {
                        "name": "link",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "type": "collection",
                    "label": "Text"
                  },
                  {
                    "name": "annotations",
                    "spec": [
                      {
                        "name": "bold",
                        "type": "boolean",
                        "label": "Bold"
                      },
                      {
                        "name": "italic",
                        "type": "boolean",
                        "label": "Italic"
                      },
                      {
                        "name": "strikethrough",
                        "type": "boolean",
                        "label": "Strikethrough"
                      },
                      {
                        "name": "underline",
                        "type": "boolean",
                        "label": "Underline"
                      },
                      {
                        "name": "code",
                        "type": "boolean",
                        "label": "Code"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "type": "collection",
                    "label": "Annotations"
                  },
                  {
                    "name": "plain_text",
                    "type": "text",
                    "label": "Plain Text"
                  },
                  {
                    "name": "href",
                    "type": "text",
                    "label": "Href"
                  }
                ],
                "type": "array",
                "label": "Summary"
              },
              {
                "name": "Sentiment",
                "spec": [
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Name"
                  },
                  {
                    "name": "color",
                    "type": "text",
                    "label": "Color"
                  }
                ],
                "type": "collection",
                "label": "Sentiment"
              },
              {
                "name": "Draft Response",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      },
                      {
                        "name": "link",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "type": "collection",
                    "label": "Text"
                  },
                  {
                    "name": "annotations",
                    "spec": [
                      {
                        "name": "bold",
                        "type": "boolean",
                        "label": "Bold"
                      },
                      {
                        "name": "italic",
                        "type": "boolean",
                        "label": "Italic"
                      },
                      {
                        "name": "strikethrough",
                        "type": "boolean",
                        "label": "Strikethrough"
                      },
                      {
                        "name": "underline",
                        "type": "boolean",
                        "label": "Underline"
                      },
                      {
                        "name": "code",
                        "type": "boolean",
                        "label": "Code"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "type": "collection",
                    "label": "Annotations"
                  },
                  {
                    "name": "plain_text",
                    "type": "text",
                    "label": "Plain Text"
                  },
                  {
                    "name": "href",
                    "type": "text",
                    "label": "Href"
                  }
                ],
                "type": "array",
                "label": "Draft Response"
              },
              {
                "name": "Confidence Score",
                "type": "number",
                "label": "Confidence Score"
              },
              {
                "name": "Status",
                "spec": [
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Name"
                  },
                  {
                    "name": "color",
                    "type": "text",
                    "label": "Color"
                  }
                ],
                "type": "collection",
                "label": "Status"
              },
              {
                "name": "Original Message",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      },
                      {
                        "name": "link",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "type": "collection",
                    "label": "Text"
                  },
                  {
                    "name": "annotations",
                    "spec": [
                      {
                        "name": "bold",
                        "type": "boolean",
                        "label": "Bold"
                      },
                      {
                        "name": "italic",
                        "type": "boolean",
                        "label": "Italic"
                      },
                      {
                        "name": "strikethrough",
                        "type": "boolean",
                        "label": "Strikethrough"
                      },
                      {
                        "name": "underline",
                        "type": "boolean",
                        "label": "Underline"
                      },
                      {
                        "name": "code",
                        "type": "boolean",
                        "label": "Code"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "type": "collection",
                    "label": "Annotations"
                  },
                  {
                    "name": "plain_text",
                    "type": "text",
                    "label": "Plain Text"
                  },
                  {
                    "name": "href",
                    "type": "text",
                    "label": "Href"
                  }
                ],
                "type": "array",
                "label": "Original Message"
              },
              {
                "name": "Priority",
                "spec": [
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Name"
                  },
                  {
                    "name": "color",
                    "type": "text",
                    "label": "Color"
                  }
                ],
                "type": "collection",
                "label": "Priority"
              },
              {
                "name": "Draft Subject Response",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      },
                      {
                        "name": "link",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "type": "collection",
                    "label": "Text"
                  },
                  {
                    "name": "annotations",
                    "spec": [
                      {
                        "name": "bold",
                        "type": "boolean",
                        "label": "Bold"
                      },
                      {
                        "name": "italic",
                        "type": "boolean",
                        "label": "Italic"
                      },
                      {
                        "name": "strikethrough",
                        "type": "boolean",
                        "label": "Strikethrough"
                      },
                      {
                        "name": "underline",
                        "type": "boolean",
                        "label": "Underline"
                      },
                      {
                        "name": "code",
                        "type": "boolean",
                        "label": "Code"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "type": "collection",
                    "label": "Annotations"
                  },
                  {
                    "name": "plain_text",
                    "type": "text",
                    "label": "Plain Text"
                  },
                  {
                    "name": "href",
                    "type": "text",
                    "label": "Href"
                  }
                ],
                "type": "array",
                "label": "Draft Subject Response"
              },
              {
                "name": "Intent",
                "spec": [
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Name"
                  },
                  {
                    "name": "color",
                    "type": "text",
                    "label": "Color"
                  }
                ],
                "type": "collection",
                "label": "Intent"
              },
              {
                "name": "Customer Name",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      },
                      {
                        "name": "link",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "type": "collection",
                    "label": "Text"
                  },
                  {
                    "name": "annotations",
                    "spec": [
                      {
                        "name": "bold",
                        "type": "boolean",
                        "label": "Bold"
                      },
                      {
                        "name": "italic",
                        "type": "boolean",
                        "label": "Italic"
                      },
                      {
                        "name": "strikethrough",
                        "type": "boolean",
                        "label": "Strikethrough"
                      },
                      {
                        "name": "underline",
                        "type": "boolean",
                        "label": "Underline"
                      },
                      {
                        "name": "code",
                        "type": "boolean",
                        "label": "Code"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "type": "collection",
                    "label": "Annotations"
                  },
                  {
                    "name": "plain_text",
                    "type": "text",
                    "label": "Plain Text"
                  },
                  {
                    "name": "href",
                    "type": "text",
                    "label": "Href"
                  }
                ],
                "type": "array",
                "label": "Customer Name"
              }
            ],
            "type": "collection",
            "label": "Properties Value"
          }
        ]
      }
    },
    {
      "id": 5,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": {
        "else": 1
      },
      "mapper": null,
      "metadata": {
        "designer": {
          "x": 900,
          "y": 150
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 4,
              "module": "google-email:sendAnEmail",
              "version": 4,
              "parameters": {
                "__IMTCONN__": 7333026
              },
              "filter": {
                "name": "Sent",
                "conditions": [
                  [
                    {
                      "a": "{{2.result.Status}}",
                      "b": "Auto Sent",
                      "o": "text:equal"
                    }
                  ]
                ]
              },
              "mapper": {
                "to": ["{{1.fromEmail}}"],
                "subject": "{{2.result.`Draft Subject Response`}}",
                "bodyType": "collection",
                "contents": [
                  {
                    "text": "{{2.result.`Draft Response`}}",
                    "image": {}
                  }
                ]
              },
              "metadata": {
                "designer": {
                  "x": 1200,
                  "y": 0
                },
                "restore": {
                  "expect": {
                    "cc": {
                      "mode": "chose"
                    },
                    "to": {
                      "mode": "chose",
                      "items": [null]
                    },
                    "bcc": {
                      "mode": "chose"
                    },
                    "from": {
                      "mode": "chose"
                    },
                    "bodyType": {
                      "label": "Collection of contents (text, images, etc.)"
                    },
                    "contents": {
                      "mode": "chose",
                      "items": [null]
                    },
                    "signature": {
                      "mode": "chose"
                    },
                    "attachments": {
                      "mode": "chose"
                    },
                    "emailHeaders": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "google-email"
                      },
                      "label": "My Gmail connection (nlawrenzer@gmail.com)"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google-email",
                    "label": "Connection",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "to",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Recipient email address",
                      "required": true,
                      "validate": true
                    },
                    "type": "array",
                    "label": "To",
                    "required": true
                  },
                  {
                    "name": "subject",
                    "type": "text",
                    "label": "Subject"
                  },
                  {
                    "name": "bodyType",
                    "type": "select",
                    "label": "Body type",
                    "required": true,
                    "validate": {
                      "enum": ["rawHtml", "collection"]
                    }
                  },
                  {
                    "name": "attachments",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "filename",
                          "type": "filename",
                          "label": "File name",
                          "required": true,
                          "semantic": "file:name"
                        },
                        {
                          "name": "data",
                          "type": "buffer",
                          "label": "Data",
                          "required": true,
                          "semantic": "file:data"
                        }
                      ],
                      "type": "collection",
                      "label": "Attachment"
                    },
                    "type": "array",
                    "label": "Attachments"
                  },
                  {
                    "name": "from",
                    "type": "select",
                    "label": "From"
                  },
                  {
                    "name": "cc",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Recipient email address",
                      "required": true
                    },
                    "type": "array",
                    "label": "CC recipients"
                  },
                  {
                    "name": "bcc",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Recipient email address",
                      "required": true
                    },
                    "type": "array",
                    "label": "BCC recipients"
                  },
                  {
                    "name": "emailHeaders",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "key",
                          "type": "text",
                          "label": "Key",
                          "required": true
                        },
                        {
                          "name": "value",
                          "type": "text",
                          "label": "Value"
                        }
                      ],
                      "type": "collection",
                      "label": "Email header"
                    },
                    "type": "array",
                    "label": "Additional email headers"
                  },
                  {
                    "name": "contents",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "text",
                          "type": "text",
                          "label": "Text"
                        },
                        {
                          "name": "image",
                          "spec": [
                            {
                              "name": "filename",
                              "type": "filename",
                              "label": "File name",
                              "semantic": "file:name"
                            },
                            {
                              "name": "data",
                              "type": "buffer",
                              "label": "Data",
                              "semantic": "file:data"
                            },
                            {
                              "name": "width",
                              "type": "uinteger",
                              "label": "Width"
                            },
                            {
                              "name": "height",
                              "type": "uinteger",
                              "label": "Height"
                            }
                          ],
                          "type": "collection",
                          "label": "Image"
                        }
                      ],
                      "type": "collection",
                      "label": "Content"
                    },
                    "type": "array",
                    "label": "Body contents"
                  },
                  {
                    "name": "signature",
                    "type": "select",
                    "label": "Signature content"
                  }
                ]
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 7,
              "module": "slack:CreateMessage",
              "version": 4,
              "parameters": {
                "__IMTCONN__": 7376993
              },
              "filter": {
                "name": "Review",
                "conditions": [
                  [
                    {
                      "a": "{{2.result.Status}}",
                      "b": "Review",
                      "o": "text:equal"
                    }
                  ]
                ]
              },
              "mapper": {
                "text": " NEW REVIEW REQUEST \n\nFrom: {{1.fromName}}\n\nSubject: {{1.subject}}\n\nSender Full Message:{{1.fullTextBody}}\nAI Summary: {{2.result.Summary}}\n\nPROPOSED REPLY\nDraft Subject: {{2.result.`Draft Subject Response`}}\n\nDraft Response: {{2.result.`Draft Response`}}\n\n Please review and approve in Notion before sending.",
                "parse": false,
                "mrkdwn": true,
                "channel": "C0ADXGZRCFR",
                "channelType": "public",
                "channelWType": "list"
              },
              "metadata": {
                "designer": {
                  "x": 1200,
                  "y": 300
                },
                "restore": {
                  "expect": {
                    "parse": {
                      "mode": "chose"
                    },
                    "mrkdwn": {
                      "mode": "chose"
                    },
                    "channel": {
                      "mode": "chose",
                      "label": "for-make"
                    },
                    "link_names": {
                      "mode": "chose"
                    },
                    "channelType": {
                      "label": "Public channel"
                    },
                    "channelWType": {
                      "label": "Select from the list"
                    },
                    "unfurl_links": {
                      "mode": "chose"
                    },
                    "unfurl_media": {
                      "mode": "chose"
                    },
                    "reply_broadcast": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "slack2"
                      },
                      "label": "My Slack (user) connection (nazhworkspace.slack.com - nlawrenzer)"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:slack2,slack3",
                    "label": "Connection",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "channelWType",
                    "type": "select",
                    "label": "Enter a channel ID or name",
                    "required": true,
                    "validate": {
                      "enum": ["manualy", "list"]
                    }
                  },
                  {
                    "name": "text",
                    "type": "text",
                    "label": "Text"
                  },
                  {
                    "name": "blocks",
                    "type": "text",
                    "label": "Blocks"
                  },
                  {
                    "name": "thread_ts",
                    "type": "text",
                    "label": "Thread message ID (time stamp)"
                  },
                  {
                    "name": "reply_broadcast",
                    "type": "boolean",
                    "label": "Reply broadcast"
                  },
                  {
                    "name": "link_names",
                    "type": "boolean",
                    "label": "Link names"
                  },
                  {
                    "name": "parse",
                    "type": "boolean",
                    "label": "Parse message text"
                  },
                  {
                    "name": "mrkdwn",
                    "type": "boolean",
                    "label": "Use markdown"
                  },
                  {
                    "name": "unfurl_links",
                    "type": "boolean",
                    "label": "Unfurl primarily text-based content"
                  },
                  {
                    "name": "unfurl_media",
                    "type": "boolean",
                    "label": "Unfurl media content"
                  },
                  {
                    "name": "icon_emoji",
                    "type": "text",
                    "label": "Icon emoji"
                  },
                  {
                    "name": "icon_url",
                    "type": "url",
                    "label": "Icon url"
                  },
                  {
                    "name": "username",
                    "type": "text",
                    "label": "User name"
                  },
                  {
                    "name": "channelType",
                    "type": "select",
                    "label": "Channel type",
                    "required": true,
                    "validate": {
                      "enum": ["public", "private", "im", "mpim"]
                    }
                  },
                  {
                    "name": "channel",
                    "type": "select",
                    "label": "Public channel",
                    "required": true
                  }
                ]
              }
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us2.make.com",
    "notes": []
  }
}
